<div class="contact">
    <div class="content my-container">
        <h1>Comment Pouvons-Nous Vous Aider ?</h1>
        <p>En fonction de votre besoin, choisissez parmi les possibilités ci-dessous et remplissez le formulaire qui nous permettra de revenir vers vous et satisfaire votre demande.</p>
        <div class="contact-types">

            <div class="contact-type">
                <h2>Service Publicité</h2>
                <button>Contacter</button>
            </div>

            <div class="contact-type">
                <h2>Participer À Une Émission</h2>
                <button>Contacter</button>
            </div>

            <div class="contact-type">
                <h2>Donner Votre Avis</h2>
                <button>Contacter</button>
            </div>

            <div class="contact-type">
                <h2>Service Recrutement</h2>
                <button>Contacter</button>
            </div>

            <div class="contact-type">
                <h2>Reporter Un Problème Sur Le Site Web</h2>
                <button>Contacter</button>
            </div>
        </div>
    </div>
</div>
