.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    app-home-hero,
    app-home-live,
    app-home-best-programs{
        width: 100%;
    }
}