<div class="live">
    <div class="content my-container">
        <div class="title">
            <h2>En direct sur nos Antennes</h2>
            <span class="tag">
                <span class="text">Live</span>
            </span>
        </div>

        <div class="events">

            <div class="event">
                <div class="image">
                    <img src="../../../../../assets/img/home/live-tv-image.webp" alt="">
                </div>
                <div class="texts">
                    <div class="header">
                        <span>À la télé</span>
                        <img src="../../../../../assets/img/home/icon-live-tv.png" alt="Red icon representing a tv ">
                    </div>
                    <span class="event-title">Bulletin d'Information</span>
                    <span class="event-hour">13h00 - 14h45</span>

                    <span class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque repellat molestiae libero quo culpa amet deleniti.</span>
                </div>
            </div>

            <div class="event">
                <div class="image">
                    <img src="../../../../../assets/img/home/live-radio-image.png" alt="">
                </div>
                <div class="texts">
                    <div class="header">
                        <span>À la télé</span>
                        <img src="../../../../../assets/img/home/icon-live-radio.png" alt="Red icon representing a radio ">
                    </div>
                    <span class="event-title">Bulletin d'Information</span>
                    <span class="event-hour">13h00 - 14h45</span>

                    <span class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
                </div>
            </div>
        </div>
    </div>
</div>