<footer>
    <div class="content my-container">
        <ul>
            <li routerLink="/">Accueill</li>
            <li routerLink="/live">Live TV</li>
            <li routerLink="/programme">Programme TV</li>
            <li routerLink="/replay">Replay</li>
            <li routerLink="/contact">Aides & Contact</li>
        </ul>

        <div class="networks">
            <a href="#" target="_blank"><i class="pi pi-facebook"></i></a>
            <a href="#" target="_blank"><i class="pi pi-youtube"></i></a>
            <a href="#" target="_blank"><i class="pi pi-twitter"></i></a>
        </div>

        <div class="copyright-author">
            <span class="copyright">
                Copyright © 2022 FORYOU MEDIA, tous droits réservés
            </span>
            <span class="author">
                Développé par <a target="_blank" href="https://sm-digitalizer.fr">sm-digitalizer</a>
            </span>
        </div>
    </div>
</footer>